node_modules
.env.*
.env
*.log
/dist


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#Iam trust policy
ecs-trust-policy.json
task-definition.json
secure-aws.json
